
{% extends 'base/baseHistorial.html' %}


{% block content %}
	<table class="table">

		<thead>
			<td>#</td>
			<td>Aqui podremos ver la informacion {{labels}}</td>
		</thead>


		<tbody>
		{% if informacion %}

		{% for token2 in informacion %}
		<tr>
			<td>Nombre Imagen :</td>
			<td>{{token2.nombreimagen}}</td>
		</tr>
		<tr>
			<td>Ciudad :</td>
			<td>{{token2.ciudad}}</td>
		</tr>
		<tr>
			
			<td>Provincia :</td>
			<td>{{token2.provincia}}</td>
		</tr>
		<tr>
			<td>Distrito :</td>
			<td>{{token2.distrito}}</td>
		</tr>
		<tr>
			<td>Direccion :</td>
			<td>{{token2.direccion}}</td>
		</tr>
		<tr>
			<td>Longitud :</td>
			<td>{{token2.longitud}}</td>
		</tr>
		<tr>
			<td>Latitud :</td>
			<td>{{token2.latitud}}</td>
		</tr>
		<tr>
			<td>Descripcion :</td>
			<td>{{token2.descripcion}}</td>
		</tr>
		<tr>
			<td>Construccion :</td>
			<td>{{token2.construccion}}</td>
		</tr>
		<tr>
			<td>Estilo Arquitectonico :</td>
			<td>{{token2.estilo_arquitectonico}}</td>
		</tr>


		</tbody>




		{% endfor %}
		{% endif %}




	</table>

{%endblock%}
